body {
    background-color: gray;
  }
  
  .outerbox {
    margin: 10px;
    background-color: goldenrod;
    display: inline-block;
  }
  
  .innerbox {
    display: inline-block;
    background-image: linear-gradient(salmon, salmon), linear-gradient(#1E90FF, #1E90FF);
    background-clip: content-box, padding-box
  }  

  #box1 {
      padding: 10px;
      border-style: dotted;
      margin: 10px;
width: 85px; 
height: 21px; 
    }

    #box2 {
        padding: 10px;
        border-style: dotted;
        margin: 0%;
      }
      

      #box3 {
        border-style: solid;
        border-width: 3px 0px 3px 0px;
        margin: 10px;
        width: 200px; 
        height: 21px; 
      }

      #box4 {
        padding: 25px;
        margin: 15px;
  width: 70px; 
  height: 40px; 
      }
  