* {
    box-sizing: border-box;
}

body {
    background-color: #b2ad7f;
}

ul {
    list-style: none;
}

nav {
       padding: 10px;
        height: 100%;
        width: 100%

}
main {
    display: inline-block;
    background-color: #878f99;
    margin: 0;
    padding: 10px;
}

#Numbers {
    display: inline-block;
}

#chapters {
    display: none;
}

header {
    background-color: #6b5b95;
    margin: 0;
    padding: 10px;
}


aside {
background-color: #a2b9bc;
width: 100%;
height: auto;
padding: 10px;
font-style: italic;
}

.poem {
    white-space: pre-wrap;
}

@media (min-width: 600px) {
    nav {
        float: left;
        background-color: #b2ad7f;
        margin: 0;
        padding: 10px;
        height: 100%;
        width: 300px;
    }
main {
    width: calc(100% - 300px);
    margin: 0;
}

#chapters {
    display: inline-block;
}

#Numbers {
    display: none;
}

aside {
    float: right;
    width: 200px; 
    height: auto;
}
}