.card {
    width: 200px; 
    display: inline-block; 
    border-style: none; 
    border-color: aqua;
    border-width: 2px; 
    border-radius: 15px; 
    vertical-align: top;
}

.favorite {
    border-style: dotted;
    border-width: 5px; 
    border-color: blueviolet; 
}

.card img {
    width: 100%;
}

.card  p {
        font-family: sans-serif; 
    }

.name {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif; 
}

#pokemon1 {

    background-color: lightblue; 
}

#pokemon2 {
    background-color: lightcoral;
}

#pokemon3 {
    background-color: lightgray;
}

#pokemon4 {
    background-color: tan;
}

#pokemon5 {
    background-color: palevioletred; 
    }

#pokemon6 {
    background-color: red;
}